body {
    background-size: cover; /* 이미지를 비율에 맞게 늘리거나 축소합니다. */
    background-image: url("../images/p1.jpg");
}
.container h1 {
    font-weight: bold;
    margin: 0;
}
.container p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
.container span {
    font-size: 12px;
}
.container a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}
.login-btn {
    border-radius: 4px;
    border: 2px solid #51e3d4;
    background-color: #51e3d4;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

}

.s-box {
    display: flex;
    align-items: center; /* 수평 중앙 정렬 */
    gap: 15px;


}

.container form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.container input {
    border: 1px solid #cccccc;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 5px;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 850px;
    max-width: 100%;
    min-height: 580px;
    margin-top: 10%;

    perspective: 1000px;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;

    backface-visibility: hidden;
    transition: transform 0.6s;
}
#front {
    z-index: 1; /* 수정된 부분 */
    transform: rotateY(0deg);
}
#back {
    z-index: 2; /* 수정된 부분 */
    transform: rotateY(180deg);
}
.container.flip #front {
    z-index: 1; /* 수정된 부분 */
    transform: rotateY(-180deg);
}
.container.flip #back {
    z-index: 2; /* 수정된 부분 */
    transform: rotateY(0deg);
}
.log-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}
.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    z-index: 0;
}
.overlay {
    background: #51e3d4;
    background: linear-gradient(to right, #51e3d4, #19B3FF);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
}
.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
}
.overlay-right {
    right: 0;
}
.social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.login-menu {
    display: flex; /* 수평 정렬을 위해 flexbox 사용 */
    justify-content: center; /* 수평 가운데 정렬 */
    gap: 10px; /* 두 링크 사이에 간격 */
    color: #333333;
    cursor: pointer;
}

.password-btn {
    position: absolute;
    width: 100px;
    height: 42px;
    top: 12px;
    right: 4px;
    margin: auto 0;
    border-radius: 5px;
    color: #fff;
    background-color: #51e3d4;
    border: none;
}

.email-btn {
    position: absolute;
    width: 100px;
    height: 42px;
    top: 12px;
    right: 4px;
    margin: auto 0;
    border-radius: 5px;
    color: #fff;
    background-color: #51e3d4;
    border: none;
}



/* 회원가입 */
.container2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 800px;
    margin: 10% auto;
}
.register-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;

}
.register-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}
.form-group {
    margin-bottom: 15px;
    position: relative;

}
.form-group label {
    display: block;
    margin-bottom: 5px;

}
.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group .help-block {
    font-size: 12px;
    color: #777;
}
.form-group .btn {
    width: 100%;
    padding: 10px;
    background-color: #51e3d4;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.select-container {
    position: relative;
}
.select-container select {
    appearance: none; /* 기본 화살표 제거 */
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select-container .fa-chevron-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 아이콘 클릭 불가 */
}
/* 중복확인 버튼 */
#info__id button {
    position: absolute;
    width: 90px;
    height: 40px;
    top: 5px;
    bottom: 0;
    right: 3px;
    margin: auto 0;
    border-radius: 5px;
    color: #fff;
    background-color: #51e3d4;
    border: none;
}
.form-group .help-block {
    font-size: 12px;
    color: #777;
}
.form-group .help-block.error {
    color: red;
}

.form-group .btn {
    width: 100%;
    padding: 10px;
    background-color: #51e3d4;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}
.select-container {
    position: relative;
}
.select-container select {
    appearance: none; /* 기본 화살표 제거 */
    -webkit-appearance: none;
    -moz-appearance: none;
}
.select-container .fa-chevron-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 아이콘 클릭 불가 */
}