/*body {*/
/*    background-color: #f5f5f5;*/
/*}*/
/*.container {*/
/*    background-color: white;*/
/*    padding: 20px;*/
/*    margin-top: 30px;*/
/*    box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
/*}*/
/*.form-group label {*/
/*    font-weight: bold;*/
/*}*/
/*.form-control {*/
/*    border-radius: 0;*/
/*}*/
/*.btn-primary {*/
/*    background-color: #1ec800;*/
/*    border-color: #1ec800;*/
/*    border-radius: 0;*/
/*}*/
/*.preview-img {*/
/*    margin-top: 10px;*/
/*    max-width: 200px;*/
/*}*/


body {
    background-color: #f8f8f8;
    font-family: "Bree Serif", serif;
}

header {
    height: 100px;
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    color: #51e3d4;
    background-color: white;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); !* 그림자 추가 *!*/
    z-index: 10;
}

header a {
    font-size: 50px;
    font-family: "Alfa Slab One", serif;
    cursor: pointer;
    margin-left: 20px;
}

main {
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: auto; /* 전체 화면 높이에 맞춰 정렬 */
    background-color: #f0f0f0; /* 배경색 */
    padding: 20px;
}

.blog-post {
    width: 90%; /* 전체 너비를 사용 */
    background-color: white;
    border-radius: 8px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column; /* 세로 정렬 */
    height: auto;
    margin: 30px auto;
}

.post-image {
    width: 100%; /* 이미지 너비를 100%로 설정 */
    height: 350px; /* 이미지 높이 설정 */
    overflow: hidden; /* 넘치는 이미지 숨김 */

    border-radius: 8px;

}

.post-image img {
    margin: 0px auto;
    width: auto;
    height: 100%;
    object-fit: cover; /* 이미지 비율 유지하며 채우기 */
    border-radius: 8px;
    border: 3px solid #51e3d4;
}

.form-group1 {
    display: flex; /* Flexbox 활성화 */

    align-items: center; /* 수직 중앙 정렬 */
    padding: 10px; /* 내부 여백 추가 (옵션) */

    margin-top: 10px;
    margin-left: 585px;
}

.post-title {
    margin: 30px auto;
    width: 77%;
    border-left: 6px solid #51e3d4;
    padding: 10px;

}

.post-title h2 {
    margin: 1px 0; /* 제목 위아래 여백 설정 */
    font-size: 50px;
}

.post-info {
    width: 80%;
    margin: -10px auto; /* 제목 위아래 여백 설정 */
    height: 30px;
    display: flex;
    gap: 10px; /* 요소들 사이의 간격 설정 */

}

.post-info  p {
    font-size: 20px;
}

.post-info  i {
    font-size: 20px;
}

.post-content {
    padding: 20px;
    border-bottom: 4px solid #51e3d4;
    margin: 30px auto;
    width: 80%;
    height: 800px;
}

.post-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-content p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
}

.reply-num {
    width: 80%;
    height: auto;
    border-left: 7px solid #51e3d4;
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
}

.reply-num h2{
    font-size: 35px;
    margin-left: 20px;
}

.post-reply-box {
    padding: 20px;
    border: 1px solid #eeeeee;
    margin: 10px auto;
    width: 80%;
    height: auto;
}

.post-reply-box2 {
    padding: 20px;
    width: 80%;
    height: auto;
}



.content {
    font-size: 17px;

}

.post-reply h5{
    font-weight: bold;

}

.post-reply p, h5{
    font-weight: bold;
}

.post-reply-button {
    border: 1px solid #51e3d4;
    background-color: white;
    border-radius: 4px;

}

.aday {
    color: #555555;
}


.post-reply-reply {
    background-color: #dcf9f3;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 45%;
    margin-top: 10px;
    margin-left: 20px;
}

.post-reply-reply p {
    margin-left: 20px;
    font-weight: bold;
}

.post-reply-reply i{

    color: #51e3d4;

}

.comment-form {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.comment-form textarea {
    width: 40%;
    padding: 10px;
    border: 2px solid #51e3d4;
    border-radius: 8px;
    position: relative;
    height: 50px;
    margin-top: 10px;
}

.comment-form button {
    right: 605px;
    padding: 12px 20px;
    color: white;
    background-color: #51e3d4;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 10px;
}

.post-next-blog-title {
    width: 80%;
    margin: 20px auto;
    height: 50px;
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: flex-start; /* 수평 왼쪽 정렬 */
    padding-left: 5px; /* 왼쪽으로 살짝 띄우기 */
}

.post-next-blog-box {
    margin: 10px auto;
    width: 80%;
    height: 300px;
    display: flex; /* Flexbox를 사용하여 수평으로 정렬 */
    justify-content: space-between; /* 구역 사이의 공간을 동일하게 */
    gap: 20px;
}

.post-next-blog {
    flex: 1; /* 각 구역이 동일한 크기를 가지도록 */
    margin-bottom: 20px;
    border: 1px solid lightgrey; /* 각 구역의 테두리 */
    padding: 10px; /* 구역 내부의 패딩 */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-next-blog img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지를 부모 요소의 크기에 맞게 조정 */
}






.right-btn1 {
    right: 0;
    position: fixed;
    bottom: 32px;
    align-self: end;
    margin-right: 20px;
    background-color: white;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    color: #51e3d4;
    filter: drop-shadow(0px 4px 4px #d2dae5);
    width: 70px;
    height: 70px;
}

.right-btn2 {
    right: 0;
    position: fixed;
    bottom: 112px;
    align-self: end;
    margin-right: 20px;
    background-color: white;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px #d2dae5);
    width: 70px;
    height: 70px;
    font-size: 25px;
    color: #FF9EAA;
}

.right-btn1:hover {
    background-color: #51e3d4;
    color: white;
    border-radius: 8px;
}

.right-btn2:hover {
    background-color: #FF9EAA;
    color: white;
    border-radius: 8px;
}
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:480px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .info .placey {color:#009900;}
#placesList .info .placex {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}